<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.felhr.serialportexample"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.usb.host"
                  android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Launch when USB device is attached -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </activity>

        <service
            android:name="com.felhr.serialportexample.UsbService"
            android:enabled="true">
        </service>

        <service android:name=".StartSerialPortTesterApkService" android:exported="true">
            <meta-data android:name="Start Service" android:value="true" />
        </service>
    </application>
</manifest>
