<?xml version="1.0" encoding="utf-8"?>
<manifest package="gov.nasa.arc.irg.astrobee.picoflexx"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="false"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".SettingsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="gov.nasa.arc.irg.astrobee.picoflexx.RECEIVE_SETTINGS"/>
            </intent-filter>
        </receiver>

        <activity android:name=".BlankActivity"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:label="@string/blank_label"
            android:exported="true">
        </activity>
    </application>

</manifest>
